/*
#home-background-video-play{
    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    left:0;
    position: absolute;
    object-fit: cover;
    opacity: 0.6;
}

*/
.main-background-video_container{
    position: relative;
    overflow: hidden;
    height: 100vh;
}

#home-background-video-play {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.home-background-video{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}