/*
.header{
    // This is still in trial and error
    width: 75%;
    position: absolute;
    left: 15%;
}

*/

.header{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;

}