body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
Added (It maybe can be removed)
*/
.site-wrapper{
  border: 0;
  font:inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;

}

/* ADDED */


.site-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}



/* Start */
.home-text{
  z-index: 10;
}

.navbar{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  padding: 5px 100px;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
}

/* Maybe change places */
.home-text p{
  margin-left: 20px;
}

/* End */



/* Home */

.navbar .nav-item{
  font-weight: bolder;
}


/* Home */ 